@model ProductViewModel

@{
    ViewData["Title"] = "Home Page";
}

    <title>Přehled produktů</title>

 <div class="boxOverlay">
    <div class="overlay">
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow  bg-black opacity-75" style="border-bottom:3px solid white">
                <div class="container-fluid">
                    <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index"><p id="big">DUTY</p><p id="small">FREE</p></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">

                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Products" asp-action="Administration">Produkty</a>
                            </li>

                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Products" asp-action="Orders">Objednavky</a>
                                </li>

                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="na_co_mas_chut">
            <a style="color:white">Na co máš chuť?</a>
        </div>
        <div class="search-bar">
            <input type="text" id="search-input" placeholder="Zadejte název produktu" list="product-names" />
            <datalist id="product-names">
                @foreach (var product in Model.Products!)
                {
                    <option value="@product.Name" class="option-text" />
                }
            </datalist>
            <button type="button" id="search-button">
                <a style="color:white">Vyhledat</a> </button>
            
        </div>

            <div class="hashtagy">
                <p style="color:white">#MojeOblíbené #OblíbenéOstatních #Sleva #Novinka #Svačina #Sladké #Slané #Nápoje #Zmrzlina</p>
            </div>
    </div>
</div>


    
    <div id="product-list" style="margin-top:300px">
        @foreach (var product in Model.Products!)
        {
            <div class="product-card">
                <img class="pictureproducthome" src="~/@product.ImageUrl" />
                <p id="ProductName">@product.Name</p>
                <div class="stock">Skladem: @product.Quantity Ks</div>
                <div class="price"><a style="color:#ff1111">@product.Price Kč</a> </div>
                <div class="buy-btn">   <button type="button" class="buy-button"><a style="color:white">Koupit</a></button></div>

            </div>
        }

        <!-- Další produkty -->
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            var isTyping = false;

            $('#search-button').click(function () {
                searchProducts();
            });

            $('#search-input').keydown(function (e) {
                if (!isTyping) {
                    isTyping = true;
                }co
            });

            $('#search-input').keyup(function (e) {
                if (isTyping) {
                    searchProducts();
                }
            });

            function searchProducts() {
                var searchTerm = $('#search-input').val().toLowerCase();
                $('.product-card').each(function () {
                    var productName = $(this).find('p').text().toLowerCase();
                    if (productName.includes(searchTerm)) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            }
        });
    </script>

