html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#big {
    font-size: 20px;
    display: inline
}
#small {
    font-size: 14px;
    display: inline
}

.btn {
    display: inline-block;
}

.picturenotfound{
    height:40px;
    width:40px;
}

.pictureproduct{

    padding:0px 50px;
    height:60px;
    width:auto;
    
}

.LabelUpload:hover {
    box-shadow: 0 3px 4px 0 rgba(0,0,0,0.24), 0 1px 10px 0 rgba(0,0,0,0.19);
}
.LabelUpload {

    margin-right: 20px;
    border: 1px solid #ff4500;
    border-color: #ff4500;
    background: white;
    padding: 10px 10px;
    color: #ff4500;
    cursor: pointer;
}





#centerColumn{
    align-content:center;
    text-align:center;
}

.Tlacitko {
    text-align: right
}

.circle-button {
    text-align:right;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: darkorange;
    border: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.circle-button .plus {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 15px;
        height: 2px;
        background-color: white;
        transform: translate(-50%, -50%);
    }

#ProductColumn{
    text-align:center;
    margin:0px 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border-bottom: 1px solid #9f9fbc;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #ffffff;
}


.circle-button .plus::before,

.circle-button .plus::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 15px;
            height: 2px;
            background-color: white;
            transform: translate(-50%, -50%);
        }

.circle-button .plus::before {
            transform: translate(-50%, -50%) rotate(90deg);
        }

.circle-button .plus::after {
 transform: translate(-50%, -50%) rotate(180deg);
}

.btn-save {
    background-color: #ff4500;
    border-radius: 0px;
    border-color: #ff4500;
    padding: 3px 25px ;
    margin:0px 5px;
}

    .btn-save:hover {
        box-shadow: 0 3px 4px 0 rgba(0,0,0,0.24), 0 1px 10px 0 rgba(0,0,0,0.19);
        background-color: #ff4500;
        border-radius: 0px;
        border-color: #ff4500;
        padding: 3px 25px;
        margin: 0px 5px;
    }

.btn-discard {
    background-color: #ffffff;
    color:grey;
    border-radius: 0px;
    border-color: grey;
    padding: 3px 25px;
}

    .btn-discard:hover {
        box-shadow: 0 3px 4px 0 rgba(0,0,0,0.24), 0 1px 10px 0 rgba(0,0,0,0.19);
        background-color: #ffffff;
        color: grey;
        border-radius: 0px;
        border-color: grey;
        padding: 3px 25px;
    }

