html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.btn {
    display: inline-block;
}

.picturenotfound{
    height:40px;
    width:40px;
}

.pictureproduct{

    padding:0px 50px;
    height:60px;
    width:auto;
    
}

#centerColumn{
    align-content:center;
    text-align:center;
}

.Tlacitko {
    text-align: right
}

.circle-button {
    text-align:right;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: darkorange;
    border: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.circle-button .plus {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 15px;
        height: 2px;
        background-color: white;
        transform: translate(-50%, -50%);
    }

#ProductColumn{
    text-align:center;
    margin:0px 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border-bottom: 1px solid #9f9fbc;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #ffffff;
}


.circle-button .plus::before,

.circle-button .plus::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 15px;
            height: 2px;
            background-color: white;
            transform: translate(-50%, -50%);
        }

.circle-button .plus::before {
            transform: translate(-50%, -50%) rotate(90deg);
        }

.circle-button .plus::after {
 transform: translate(-50%, -50%) rotate(180deg);
}

.btn-save {
    background-color: #ff4500;
    border-radius: 0px;
    border-color: #ff4500;
    padding: 3px 25px ;
}

.btn-discard {
    background-color: #ff4500;
    border-radius: 0px;
    border-color: #ff4500;
    padding: 3px 25px;
}

