html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.btn {
    display: inline-block;
}

.picturenotfound{
    height:40px;
    width:40px;
}

.pictureproduct{
    height:140px;
    width:140px;
}

.add-button-container {
    text-align: right;
    margin-bottom: 10px;
}

.plusbutton {
    height:32px;
    width:32px;
    background-color: orange;
    border-radius:8px;
    border:none;
    align-content:center;
}

.textPlusButton{

    font-family:awesome;
}
