@model AdminViewModel

@{
    ViewData["Title"] = "Tabulka Produktů";
}

<div class="overlay">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow  bg-black opacity-75" style="border-bottom:3px solid white">
            <div class="container-fluid">
                <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index"><p id="big">DUTY</p><p id="small">FREE</p></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Products" asp-action="Administration">Produkty</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="text">
        <a style="color:white">Správa produktů</a>
    </div>
</div>

<div class="float-container">

    <div class="float-child blue">
        <div class="Tlacitko ">
            <button onclick="createRow()" type="button" class="circle-button">
                <span class="plus"></span>
            </button>

        </div>

        <div class="box">
            <table id="myTable">
                <thead>
                    <tr>
                        <th>Produkt</th>
                        <th></th>
                        <th id="centerColumn">Cena za ks</th>
                        <th id="centerColumn" width="200">Aktuální množství</th>
                        <th id="centerColumn" width="200">Akce</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var product in Model.Products)
                    {
                        <tr>
                            <td class="name" width="250">@product.Name</td>
                            <td class="image" width="320">
                                <img class="pictureproduct" src=@product.ImageUrl alt="Product Image" />
                            </td>
                            <td class="price" id="centerColumn" width="150">@product.Price Kč</td>
                            <td class="quantity" id="centerColumn" width="150">@product.Quantity Ks</td>
                            <td class="buttons" id="centerColumn">
                                <button type="button" class="btn" onclick="editRow(this)">
                                    <img src="/Images/Oranzovy_klic.png" border="0" width="22" height="22" alt="Edit" />
                                </button>
                                <button type="button" class="btn btn-delete" data-id="@product.ProductID">
                                    <img src="/Images/Oranzovy_krizek.png" border="0" width="20" height="20" alt="Delete" />
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        function createRow() {
            const table = $('table tbody');
            table.prepend(
                '<tr>'
                + '<td class="name">'
                + '<input type="text" class="form-control" name="Name" required />'
                + '</td>'
                + '<td id="centerColumn" class="image">'
                + '<input type="file" id="upload" class="file-input" style="display:none" required/>'
                + '<label class="LabelUpload" for="upload">Zvolit soubor</label>'
                + '</td>'
                + '<td class="price">'
                + '<input value="0" type="number" class="form-control" name="Price" required />'
                + '</td>'
                + '<td class="quantity">'
                + '<input  value="0" placeholder="Kč" type="number" class="form-control" name="Quantity" required />'
                + '</td>'
                + '<td class="buttons" id="centerColumn">'
                + '<button type="button" class="btn btn-success btn-save">Uložit</button>'
                + '<button type="button" class="btn btn-success btn-discard">Zahodit</button>'
                + '</td>'
                + '</tr>'
            );
        }

        function editRow(button) {
            var row = button.parentNode.parentNode;
            var nameCell = row.querySelector('.name');
            var priceCell = row.querySelector('.price');
            var quantityCell = row.querySelector('.quantity');
            var buttonsCell = row.querySelector('.buttons');

            var name = nameCell.textContent.trim();
            var price = priceCell.textContent.trim();
            var quantity = quantityCell.textContent.trim();

            nameCell.innerHTML = '<input type="text" class="form-control" name="Name" value="' + name + '" required />';
            priceCell.innerHTML = '<input type="number" class="form-control" name="Price" value="' + price.replace(" Kč", "") + '" required /> Kč';
            quantityCell.innerHTML = '<input type="number" class="form-control" name="Quantity" value="' + quantity.replace(" Ks", "") + '" required /> Ks';
            buttonsCell.innerHTML = '<button type="button" class="btn btn-success btn-save" onclick="saveChanges(this)">Uložit</button>' +
                '<button type="button" class="btn btn-success btn-discard" onclick="discardChanges(this)">Zahodit</button>';
        }

        function saveChanges(button) {
            var row = button.parentNode.parentNode;
            var nameCell = row.querySelector('.name');
            var priceCell = row.querySelector('.price');
            var quantityCell = row.querySelector('.quantity');
            var buttonsCell = row.querySelector('.buttons');

            var newName = nameCell.querySelector('input').value;
            var newPrice = priceCell.querySelector('input').value;
            var newQuantity = quantityCell.querySelector('input').value;

            nameCell.innerHTML = newName;
            priceCell.innerHTML = newPrice + ' Kč';
            quantityCell.innerHTML = newQuantity + ' Ks';
            buttonsCell.innerHTML = '<button type="button" class="btn" onclick="editRow(this)">' +
                '<img src="/Images/Oranzovy_klic.png" border="0" width="22" height="22" alt="Edit" />' +
                '</button>' +
                '<button type="button" class="btn" onclick="removeRow(this)">' +
                '<img src="/Images/Oranzovy_krizek.png" border="0" width="20" height="20" alt="Delete" />' +
                '</button>';
        }

        function discardChanges(button) {
            var row = button.parentNode.parentNode;
            var nameCell = row.querySelector('.name');
            var priceCell = row.querySelector('.price');
            var quantityCell = row.querySelector('.quantity');
            var buttonsCell = row.querySelector('.buttons');

            var name = nameCell.querySelector('input').getAttribute('value');
            var price = priceCell.querySelector('input').getAttribute('value');
            var quantity = quantityCell.querySelector('input').getAttribute('value');

            nameCell.innerHTML = name;
            priceCell.innerHTML = price + ' Kč';
            quantityCell.innerHTML = quantity + ' Ks';
            buttonsCell.innerHTML = '<button type="button" class="btn" onclick="editRow(this)">' +
                '<img src="/Images/Oranzovy_klic.png" border="0" width="22" height="22" alt="Edit" />' +
                '</button>' +
                '<button type="button" class="btn" onclick="removeRow(this)">' +
                '<img src="/Images/Oranzovy_krizek.png" border="0" width="20" height="20" alt="Delete" />' +
                '</button>';
        }

        $(document).ready(() => {
            $(document).on('click', '.btn-delete', deleteProduct);
        });


    </script>
}