@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Tabulka Produktů";
}

<html>
<head>
    <title>Přidání produktu</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function createRow() {
            const table = $('table tbody');
            table.prepend(
                '<tr>'
                + '<td class="name">'
                + '<input type="text" class="form-control" name="Name" required />'
                + '</td>'
                + '<td id="centerColumn" class="image">'
                + '<input type="file" id="upload" class="file-input" style="display:none" required/>'
                + '<label class="LabelUpload" for="upload">Zvolit soubor</label>'
                + '</td>'
                + '<td class="price">'
                + '<input value="0" type="number" class="form-control" name="Price" required />'
                + '</td>'
                + '<td class="quantity">'
                + '<input  value="0" placeholder="Kč" type="number" class="form-control" name="Quantity" required />'
                + '</td>'
                + '<td class="buttons" id="centerColumn">'
                + '<button type="button" class="btn btn-success btn-save">Uložit</button>'
                + '<button type="button" class="btn btn-success btn-discard">Zahodit</button>'
                + '</td>'
                + '</tr>'
            );
        }
         function removeRow(button) {
      var row = button.parentNode.parentNode;
      row.parentNode.removeChild(row);
    }
    </script>
</head>
    

<body>
    <div class="float-container">

        <div class="float-child blue">
            <div class="Tlacitko ">
                <button onclick="createRow()" type="button" class="circle-button">
                    <span class="plus"></span>
                </button>

            </div>

            <div class="box">
                <table id="myTable">
                    <thead>
                        <tr>
                            <th>Produkt</th>
                            <th></th>
                            <th id="centerColumn">Cena za ks</th>
                            <th id="centerColumn" width="200">Aktuální množství</th>
                            <th id="centerColumn" width="200">Akce</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var product in Model.Products)
                        {
                            <tr>
                                <td width="250">@product.Name</td>
                                <td width="320" id="ProductColumn"><img class="pictureproduct" src=@product.ImageUrl alt="Product Image" /></td>

                                <td id="centerColumn" width="150">@product.Price Kč</td>
                                <td id="centerColumn" width="150">@product.Quantity Ks</td>
                                <td id="centerColumn">

                                    <button type="button" class="btn">
                                        <img src="/Images/Oranzovy_klic.png" border="0" width="22" height="22" alt="Edit" />
                                    </button>

                                    <button type="button" class="btn" class="remove-button" onclick="removeRow(this)">
                                        <img src="/Images/Oranzovy_krizek.png" border="0" width="20" height="20" alt="Delete" />


                                    </button>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
        
</body>

</html>