@model AdminViewModel

@{
    ViewData["Title"] = "Tabulka Produktů";
}



 
<div class="container" style="margin-top: 310px; display:inline-flex">
    <div class="col-md-5" style="float:left;">
        <div class="form-group">
            <div class="input-group date" id="datetimepicker6">
                <input type="date" class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-5" style="float:right;">
        <div class="form-group">
            <div class="input-group date" id="datetimepicker7">
                <input type="date" class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
</div>

<div class="float-container">
    <div class="float-child blue" style="margin-top:0px">
        <div class="box">
            <table id="myTable">
                <thead>
                    <tr>
                        <th id="centerColumn" width="150">Datum</th>
                        <th id="centerColumn" width="100">Čas</th>
                        <th id="centerColumn" width="200">Produkt</th>
                        <th id="centerColumn" width="250">Cena</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker6').datetimepicker();
            $('#datetimepicker7').datetimepicker({
                useCurrent: false
            });
            $("#datetimepicker6").on("dp.change", function (e) {
                var selectedDate = new Date(e.date);
                $('#datetimepicker7').data("DateTimePicker").minDate(selectedDate);

                var endDate = new Date($('#datetimepicker7 input').val());
                if (selectedDate > endDate) {
                    $('#datetimepicker7 input').val($('#datetimepicker6 input').val());
                }
            });
            $("#datetimepicker7").on("dp.change", function (e) {
                var selectedDate = new Date(e.date);
                $('#datetimepicker6').data("DateTimePicker").maxDate(selectedDate);

                var startDate = new Date($('#datetimepicker6 input').val());
                if (startDate > selectedDate) {
                    $('#datetimepicker6 input').val($('#datetimepicker7 input').val());
                }
            });
        });

    </script>
}




